.Lib14GC {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:14px;font-weight:bold;color:#1540A1;vertical-align:middle;}
.Lib12C {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#1540A1;vertical-align:middle;}
.Lib11D {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;text-align:right;vertical-align:middle;}
.Lib11C {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#1540A1;vertical-align:middle;}
.Lib11 {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;vertical-align:middle;}
.Lib11GC {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;color:#1540A1;vertical-align:middle;}
.Lib14GC2 {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:14px;font-weight:bold;color:#111111;vertical-align:middle;}
.Lib11G {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;vertical-align:middle;}
.Lib11F {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;vertical-align:middle;background-color:#EBF1F5;}
.Lib11E {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;vertical-align:middle;text-overflow:ellipsis }
.Lib11GC2 {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;color:#FF0000;vertical-align:middle;}
.h-0{height:0px;}
.d-0{display:none;}
form{margin:0}
.DivCellRel{display:inline;float:left;}
